.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.Logo-text {
  text-align: center;
}

.emailButton {
  position:fixed;
  right: 10px;
  bottom: 10px;
}
